<% cache [I18n.locale, current_currency, @product] do %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <div class="row product-info flea-wrap col-md-10 col-md-offset-1" data-hook="product_left_part_wrap">

      <div id="product-images" class="col-md-6" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>

        <div id="product-description-md" data-hook="product_description" class="product-description-md">
          <div itemprop="description" data-hook="description">
            <strong>Description</strong>
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>
          <div itemprop="store" data-hook="store">
            <strong>Shop</strong>
            <% store = @product.stores.first %>
            <%= link_to store.name, root_url(subdomain: store.code) %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

        <div id="product-description-sm" data-hook="product_description" class="product-description-sm">
          <div itemprop="description" data-hook="description">
            <strong>Description</strong>
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>
          <div itemprop="store" data-hook="store">
            <strong>Store</strong>
            <% store = @product.stores.first %>
            <%= link_to store.name, root_url(subdomain: store.code) %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>

        <div id="cart-form" data-hook="cart_form">
          <%= render :partial => 'cart_form' %>
        </div>
      </div>

    </div>

  </div>
<% end %>
