<div
  id="store-<%= index %>"
  >
  <h4>
    <%= store[:name] %>
  </h4>
  <p>
    <%= store[:street_address] %></br>
    <%= store[:city] %>,
    <%= store[:state] %>
    <%= store[:zipcode] %>
  </p>
</div>
