<div
  id="store-<%= index %>"
  >
  <h4>
    <%= store[:name] %>
  </h4>
  <p>
    <%= store[:street_address] %>
  </p>
  <p>
    <%= store[:city] %>
  </p>,
  <p>
    <%= store[:state] %>
  </p>
  <p>
    <%= store[:zipcode] %>
  </p>
</div>
