<nav id="top-nav-bar" class="navbar navbar-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= render :partial => 'spree/shared/brand' %>
  <% end %>
  <!-- navbar-search -->
  <%= render :partial => 'spree/shared/search' %>
  <ul class="nav navbar-nav pull-xs-right user-links">
    <li id="link-to-cart" class="nav-item" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart', class: "nav-link" %>
      </noscript>
      &nbsp;
    </li>
    <li id="search-bar" class="nav-item"></li>
    <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
  </ul>
</nav>
