<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>
<div>
  <h1>
    <%= @ip_address %>
    <%= @geocoder_result["city"] %>,
    <%= @geocoder_result["region_code"] %>
    <%= @geocoder_result["zip_code"] %>
    <%= request.original_url %>
  </h1>
  <h1>jeff sucks</h1>
  <a href="#" class="btn btn-success">Anchor Text</a>
</div>
<div>
  <h1>jeff sucks</h1>
</div>
<div>
  <h1>jeff sucks</h1>
</div>
<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>
