<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer">
  <div class="col-md-4 col-md-offset-4 login" data-hook="login">
    <h6><%= Spree.t(:login_as_existing) %></h6>
    <%= render :partial => 'spree/shared/login' %>
    <div class="text-center">
      <%= link_to Spree.t(:new_account), spree.signup_path %>
    </div>
    <div class="text-center">
      <%= link_to Spree.t(:forgot_password), spree.recover_password_path, class: "forgot-password" %>
    </div>
  </div>
</div>
<div data-hook="login_extras"></div>
